@inherits LayoutComponentBase
@using LearningOutcomesGenerator.Pages

<PageTitle>LearningOutcomesGenerator</PageTitle>
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div style="margin: auto;
              width: 50%;">
    <main>
        <LearningOutcomesForm/>
    </main>
</div>