@inherits LayoutComponentBase
@using LearningOutcomesGenerator.Pages

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div>
    <main>
        <LearningOutcomesForm/>
    </main>
</div>